[user]
	name = RUBEN PEÑA PARADA
	email = 46791460+rubenpenap@users.noreply.github.com

[pull]
  rebase = true
[branch]
  autosetuprebase = always
[push]
  default = current
	autoSetupRemote = true
[core]
	excludesfile = /Users/repp.dev/.gitignore_global
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
